p {
    margin: 60px;
    transition: transform .7s;
    animation: ball 3s infinite alternate ease-in-out;
}

p:hover {
    transform: rotateX(90deg);
}
div {
    width: 200px;
}
/* 

@keyframes ball {
    100% {
        transform: rotate(3600deg);
    }
} */